{# navbar-wrapper.html.twig #}
{#<div class="collapse navbar-collapse" id="navbarCollapse">#}
{#  #}{# Render the main menu #}
{#  {{ drupal_block('block--system-menu-block') }}#}

{#  #}{# Render the account menu #}
{#  {{ drupal_block('block--starrlist-account-menu') }}#}
{#</div>#}
